
*{
  list-style: none;
  margin: 0;
  padding: 0;

}

a {
    text-decoration: none;
}

button{

  background-color: white;

}

body{

  margin: 0;
  overflow: hidden;

}

.container{
  display: flex;
  flex-direction: row;
}

.main{
  flex: 4;
  order: 1;
  height: 100vh;
}

.Click__counter{

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  font-family: "Inter", sans-serif;
}

.Click__counter::after{
  content: "";
  display: inline-block;
  width: 40px;
  height: 30px;
  margin-left: 6px;
  background-image: url("../images/coin.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;


}

.Click__text{
  font-weight: bold;
  font-size: 30px;
  color: #FF9CF9;
}

.Main__button{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s;
  margin-top: 200px;
}

.button{
  height: 170px;
  width: 170px;
  border: 3px solid #FF9CF9;
  border-radius: 100px;
  transition: 0.2s;
  background-color: #fce7fa;
  z-index: 1;
}

#Click__button-image{
  margin-left: 25px;
  height: 120px;
  weight: 120px;


}

.button:hover, .shop__good-button:hover{
  transform: scale(1.05);

}

.floating-text{
  position: absolute;
  pointer-events: none;
  font-weight: bold;
  color: #FF9CF9;
  font-family: "Inter", sans-serif;
  animation: floatUp 0.8s ease-out forwards;
  font-size: 36px;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-200px);
    opacity: 0;
  }
}

#background{

  position: fixed;
  inset: 0;
  height: 200%;
  width: 130%;
  z-index: -1;
  background-image: url(../images/bg.jpg);
  background-repeat: repeat;
  background-size: 500px;
  opacity: 0.2;
  animation: backgroundAnim 8s linear infinite;
}

@keyframes backgroundAnim{
  from{
    background-position: 0px 0px;
  }

  to{
    background-position: 500px -477px;

  }

}

.popup__button-list{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  height: 47vh;
  margin: 0;
  padding: 0;

}

.stats__button, .achievment__button, .about__button {

  height: 75px;
  width: 75px;
  border: 2px solid #FF9CF9;
  border-radius: 10px;
  background-color: #fce7fa;
  transition: 0.2s;

}

.stats__button:hover, .achievment__button:hover, .about__button:hover, .ending__button:hover, .stats__popup-close-button:hover, .about__popup-close-button:hover, .achievment__popup-close-button:hover, .ending__button-confirm-button:hover, .ending__popup-close-button:hover{

  transform: scale(1.1);

}

.popup__image{

  height: 40px;
  width: 40px;

}

.ending__button-2{
  display: none;
  position: absolute;
  right: 405px;
  bottom: 15px;

}

.ending__button-2-open{

  display: block;

}


.ending__button{

  height: 50px;
  width: 125px;
  border: 2px solid #FF9CF9;
  border-radius: 10px;
  background-color: #fce7fa;
  transition: 0.2s;
  font-family: "Inter", sans-serif;
  color: #F090F0;
  font-weight: bold;
  font-size: 24px;

}


.shop{
  flex: 1;
  order: 2;
  border-left: 2px solid #FF9CF9;
  background-color: #fce7fa;
  max-width: 663px;
  overflow-y: scroll;
  max-height: 100vh;
  padding: 0;
}

.shop::-webkit-scrollbar{

  width: 0px;

}

.shop__container{

  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}

.shop__header{
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  color: #F090F0;
  font-weight: bold;
  font-size: 48px;
  top: 0px;
  background: #fce7fa;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #F090F0;
}

.shop__goods{

  width: 100%;

}

.shop__good{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #FF9CF9;
  width: 100%;
}

#last-shop-good{
  border: none;


}

.shop__good-image{

  display: flex;
  max-width: 50px;
  margin: 0 10px;

}

.shop__good-text{

  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;

}

.shop__good-header{

  font-family: "Inter", sans-serif;
  color: #F090F0;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.shop__good-desc{

  font-family: "Inter", sans-serif;
  color: #F090F0;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 200px;
  text-align: center;

}

.shop__good-button{


  font-family: "Inter", sans-serif;
  color: #F090F0;
  font-size: 20px;
  border: 2px solid #FF9CF9;
  border-radius: 5px;
  transition: 0.2s;
  width: 86px;
  margin-right: 10px;
}

.shop__good-button::after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-left: 6px;
  background-image: url("../images/coin.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}


.stats__popup, .about__popup, .achievment__popup, .ending__popup-attention, .end__popup{
  display: none;
}

.stats__popup-open, .about__popup-open, .achievment__popup-open, .ending__popup-attention-open, .end__popup-open{
  display: block;
}

.stats__popup-background, .about__popup-background, .achievment__popup-background, .ending__popup-background, .end__popup-background{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 40%;
  z-index: 10;

}

.stats__popup-body, .about__popup-body, .achievment__popup-body, .end__popup-body{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vh;
  height: 70vh;
  background-color: #fce7fa;
  transform: translate(-50%, -50%);
  z-index: 11;
  border: 3px solid #FF9CF9;
  border-radius: 20px;


}

.stats__popup-text, .about__popup-text, .achievment__popup-text, .end__popup-text{
  font-family: "Inter", sans-serif;
  color: #F090F0;
  font-weight: bold;
  font-size: 32px;
  z-index: 12;
  margin-left: 50px;
}

.about__popup-text{

  margin: 0;

}

.stats__popup-header, .about__popup-header, .achievment__popup-header, .ending__popup-header, .end__popup-header{
  font-family: "Inter", sans-serif;
  color: #F090F0;
  font-size: 48px;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  border-bottom: 2px solid #FF9CF9;

}

.achievment__popup-header{

  margin-bottom: 0;
}

.stats__popup-paragraph{

  margin: 10px 0;

}

.stats__popup-close-button, .about__popup-close-button, .achievment__popup-close-button {
  position: absolute;
  right: -15px;
  top: -15px;
  height: 50px;
  width: 50px;
  border: 2px solid #FF9CF9;
  border-radius: 10px;
  background-color: #fce7fa;
  transition: 0.2s;
  font-size: 32px;
  font-weight: bold;
  color: #FF9CF9;


}


.about__popup-paragraph{
  text-align: center;
}

.about__popup-paragraph-author, .about__popup-paragraph-author-2{
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: left;
  font-size: 24px;


}

.about__popup-paragraph-author-2{

  bottom: 40px;

}

.git__button-container{

  position: absolute;
  bottom: 15px;
  right: 20px;
  border: none;

}

.git__button{

  border: none;

}

.git__button-image{

  height: 75px;
  width: 75px;

}

.achievments{
  max-height: 600px;
  overflow-y: scroll;


}

.achievments::-webkit-scrollbar{

  width: 0px;

}

.achievment{

  width: 100%;
  height: 70px;
  padding: 10px 0;
  border-bottom: 2px solid #FF9CF9;
}

.achievment__last{

  border: none;

}

.achievment__container{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 70px;

}

.achievment__image{

  display: flex;
  width: 70px;
  height: 70px;
  margin: 0 10px 0 20px;
}

.achievment__image-image{

  width: 70px;
  height: 70px;

}

.achievment__text{

  font-family: "Inter", sans-serif;
  color: #F090F0;
  font-size: 24px;
  z-index: 12;
  text-align: center;
  white-space: nowrap;

}

.achievment__header{

  font-size: 36px;
  font-weight: bold;

}

.achievment__desc{



}

.achievment__mark{
  height: 60px;
  width: 60px;
  margin-right: 20px;
  border: 2px solid #FF9CF9;
  border-radius: 10px;
}

.achievment__mark-image{

  display: flex;
  align-items: flex-end;
  height: 60px;
  width: 60px;


}

.achievment__notification{
  position: absolute;
  bottom: 10px;
  left: -590px;


}

.achievment__notification-body{
  height: 100px;
  width: 500px;
  background-color: #fce7fa;
  border: 2px solid #FF9CF9;
  border-radius: 10px

}

.achievment__notification-content{
  display: flex;
  justify-content: space-between;

}

.achievment__notification-image-container{



}

.achievment__notification-image{
  margin-top: 15px;
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.achievment__notification-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  color: #F090F0;
  text-align: center;
  margin-right: 30px;

}

.achievment__notification-header{
  font-size: 28px;
  font-weight: bold;

}

.achievment__notification-desc{

    font-size: 24px;

}

.achievment__notification-open{

  animation: notificationOpen 5s ease;

}

@keyframes notificationOpen{
  0%{
    transform: translateX(0px);
  }

  20%{
    transform: translateX(600px);
  }

  80%{
    transform: translateX(600px);
  }

  100%{

    transform: translateX(0px);

  }
}


.ending__popup-background{

  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 40%;
  z-index: 10;

}

.ending__popup-body{

  position: absolute;
  top: 50%;
  left: 50%;
  width: 45vw;
  height: 25vh;
  background-color: #fce7fa;
  transform: translate(-50%, -50%);
  z-index: 11;
  border: 3px solid #FF9CF9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

}

.ending__popup-container{


}

.ending__popup-desc{

  font-family: "Inter", sans-serif;
  color: #F090F0;
  font-weight: bold;
  font-size: 36px;
  z-index: 12;
  margin-top: 20px;
  text-align: center;

}

.ending__button-container{
  position: absolute;
  bottom: 25px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.ending__button-confirm-button, .ending__popup-close-button{

  z-index: 13;
  height: 50px;
  width: 250px;
  border: 2px solid #FF9CF9;
  border-radius: 10px;
  background-color: #fce7fa;
  transition: 0.2s;
  font-size: 28px;
  font-weight: bold;
  color: #FF9CF9;
  margin-left: 60px;
}

.ending__popup-close-button{

  margin-right: 60px;

}


.end__popup-paragraph{

  text-align: center;

}

.end__popup-text{

  margin: 0;

}

.restart__button-container{
  display: flex;
  width: 250px;
  height: 40px;
  border: 2px solid #FF9CF9;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.restart__button{
  display: flex;
  font-family: "Inter", sans-serif;
  color: #F090F0;
  font-weight: bold;
  font-size: 24px;
  z-index: 12;
  margin-left: 13%;
  align-items: center;
}

.end__popup-background{
  opacity: 70%;
}
